* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 .container{
    background-color:rgba(29,29,32) ;
    height: 1200px;
  }
  
  /* HEADER START */
  header {
      background-color: rgba(29,29,32);
    }
    
  header h1 {
      padding-top: 80px;
      text-align: center;
      font-size: 70px;
      color: white ;
      font-family: Bayon;
     }

 .text-active{
        color: green;
     }

  header h4 {
        padding-top: 24px;
        font-size: 30px;
        text-align: center;
        color: green ;
      }
/* HEADER END */



 /* SEARCH CITY SECTION STARTS*/
.searchCity{
    text-align: center;
    color: white;
  }

.searchCity input {
    cursor:text;
    width: 40%;
    border: none;
    background: white;
    color: rgba(29,29,32);
    text-align: left;
    padding: 15px 0;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 100px;
  }
  /* SEARCH CITY SECTION ENDS*/




 /* SORT BY  SECTION STARTS*/
.relevance{
    text-align: center;
    color: white;
}
.relevance select{
    cursor: pointer;
    width: 15%;
    border: none;
    background: white;
    color: rgba(29,29,32);
    text-align: left ;
    padding: 10px 0;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 40px;  
}
 
/* SORT BY SECTION ENDS*/



/*BEDS QUANTITY SECTION STARTS*/
.minBeds{
    text-align: center;
    color: white; 
}


.minBeds input {
    cursor: text;
    width: 15%;
    border: none;
    background: white;
    color: rgba(29,29,32);
    text-align: left;
    padding: 14px 0;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 40px;
}


 button {
    text-align: center;
    color: white;

}

.minBeds button {
    width: 40%;
    border: none;
    background: green ;
    color: rgba(29,29,32);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 120px;
  }

.minBeds button:hover {
    cursor: pointer ;
    color:white;
    background: rgb(93, 113, 93) ;
}
/*BEDS QUANTITY SECTION ENDS*/



/*MADE BY SECTION STARTS*/
.Team{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    color: white; 
    text-align: center;
    padding-top: 70px;
}
/*MADE BY SECTION ENDS*/


