* {
<<<<<<< HEAD
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 .container{
    background-color:rgba(29,29,32) ;
    height: 1200px;
  }
  
  /* HEADER START */
  header {
      background-color: rgba(29,29,32);
    }
    
  header h1 {
      padding-top: 80px;
      text-align: center;
      font-size: 70px;
      color: white ;
      font-family: Bayon;
     }

 .text-active{
        color: green;
     }

  header h4 {
        padding-top: 24px;
        font-size: 30px;
        text-align: center;
        color: green ;
      }
=======
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgba(29, 29, 32);
  height: 1200px;
}

/* HEADER START */
header {
  background-color: rgba(29, 29, 32);
}

header h1 {
  padding-top: 80px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 70px;
  color: white;
  font-family: sans-serif;
}

.text-active {
  color: green;
}

header h4 {
  font-size: 30px;
  text-align: center;
  color: green;
  font-family: sans-serif;

}

>>>>>>> 5e9c542034ef10506842fbebcb9e008d8371638e
/* HEADER END */



/* SEARCH CITY SECTION STARTS*/
.searchCity {
  text-align: center;
  color: white;
}

.searchCity input {
<<<<<<< HEAD
    cursor:text;
    width: 40%;
    border: none;
    background: white;
    color: rgba(29,29,32);
    text-align: left;
    padding: 15px 0;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 100px;
  }
  /* SEARCH CITY SECTION ENDS*/




 /* SORT BY  SECTION STARTS*/
.relevance{
    text-align: center;
    color: white;
}
.relevance select{
    cursor: pointer;
    width: 15%;
    border: none;
    background: white;
    color: rgba(29,29,32);
    text-align: left ;
    padding: 10px 0;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 40px;  
}
 
=======
  width: 40%;
  border: none;
  background: white;
  color: rgba(29, 29, 32);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* SEARCH CITY SECTION ENDS*/

.stateSelect {
display: flex;
justify-content: center;
color: white;
font-family: sans-serif;
}

.stateSelect select {
  margin-left: 10px;
}


/* SORT BY  SECTION STARTS*/
.relevance {
  text-align: center;
  color: white;
}

.relevance label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-family: sans-serif;
}

.relevance select {
  width: 15%;
  border: none;
  background: white;
  color: rgba(29, 29, 32);
  text-align: center;
  padding: 14px 0;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 10px;
}

>>>>>>> 5e9c542034ef10506842fbebcb9e008d8371638e
/* SORT BY SECTION ENDS*/



/*BEDS QUANTITY SECTION STARTS*/
.minBeds {
  text-align: center;
  color: white;
}

.minBeds label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-family: sans-serif;

}



.minBeds input {
<<<<<<< HEAD
    cursor: text;
    width: 15%;
    border: none;
    background: white;
    color: rgba(29,29,32);
    text-align: left;
    padding: 14px 0;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 40px;
}


 button {
    text-align: center;
    color: white;

}

.minBeds button {
    width: 40%;
    border: none;
    background: green ;
    color: rgba(29,29,32);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 120px;
  }

.minBeds button:hover {
    cursor: pointer ;
    color:white;
    background: rgb(93, 113, 93) ;
=======
  width: 15%;
  border: none;
  background: white;
  color: rgba(29, 29, 32);
  text-align: center;
  padding: 14px 0;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 10px;
>>>>>>> 5e9c542034ef10506842fbebcb9e008d8371638e
}

button {
  background-color: green;
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  border: none;
  padding: 15px;
  border-radius: 10px;
  margin-top: 30px;
  width: 50%;
}


button:hover {
  color: white;
  background: rgb(93, 113, 93);
}

/*BEDS QUANTITY SECTION ENDS*/

/* CARDS SECTION START */
.card {
  color: white;
}



/*MADE BY SECTION STARTS*/
.Team {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 70px;
}

/*MADE BY SECTION ENDS*/